# WooCommerce Settings
PUBLIC_API_PROVIDER=Woocommerce
PUBLIC_DOMAIN=your.domain.com
PUBLIC_HTTP_ENDPOINT=https://your.domain.com
NEXT_PUBLIC_WOOCOMMERCE_KEY=your_woocommerce_key
NEXT_PUBLIC_WOOCOMMERCE_SECRET=your_woocommerce_secret
NEXT_PUBLIC_WOOCOMMERCE_URL=https://your.domain.com

# Stripe Settings
STRIPE_SECRET_KEY=your_stripe_secret_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

# Test Keys
STRIPE_SECRET_KEY_TEST=your_stripe_test_secret_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY_TEST=your_stripe_test_publishable_key

# WordPress JWT Token
PRIVATE_WP_JWT_TOKEN=your_jwt_token
